<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ヘルスケア</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
  </head>
  <body>
    <header>
      <img class="logo" src="/images/fire-flame-curved-solid.svg">
      <div class="title">ヘルスケアAPP</div>
    </header>
    <main>
      <div class="container">
        <div class="container-header">
          <h1>記録しましょう！</h1>
        </div>
        <div class="container-form">
          <form action="/create" method="post">
            <label for="item1">日付</label>
            <input type="date" name="itemName1" >
            <label for="item2">体重</label>
            <input type="number" name="itemName2" step="0.1" min="0" max="999.9" value="65.0">
            <label for="item3">体脂肪率</label>
            <input type="number" name="itemName3" step="0.1" min="0" max="99.9" value="14.0">
            <input type="submit" value="追加">
          </form>
        </div>
      </div>

      <!-- 履歴へのボタンを入れる     --> 
      <a href="/history" class ="button">履歴</a> 
      <a href="/" class ="button">TOP</a>

    </main>
  </body>
</html>